
.box
{
    height: 10vh;
    width: 50vw;
}

.box1{
    background-color: #ABC7F0;
    
}

.box2{
    background-color: #A97878;
}

.box3
{
    background-color: #93C482;
}

.box4{
    background-color: #C4B95B;
}

.box5{
    background-color: #D067D2;
}